<div class="tile">
    <!-- The magical tile element! -->
    <div class="tile is-parent">
        <article class="tile is-child notification is-info">
            <p class="title">Trending!</p>
        </article>
    </div>
</div>

 <!--  anime images will be display here in icons  -->
 <div class="Img">
<figure  class="image is-128x128">
  <div class="One"> one piece</div>
  <img class="is-rounded"  src="https://cdn.myanimelist.net/images/anime/6/73245.jpg">
</figure>
<figure class="image is-128x128">
    <div class="One"> bleach</div>
  <img class="is-rounded" src="https://cdn.myanimelist.net/images/anime/3/40451.jpg">
</figure>
<figure class="image is-128x128">
    <div class="One"> dragon ball</div>
  <img class="is-rounded" src="https://cdn.myanimelist.net/images/anime/1887/92364.jpg">
</figure>
<figure class="image is-128x128">
    <div class="One"> naruto shippuden</div>
  <img class="is-rounded" src="https://cdn.myanimelist.net/images/anime/1565/111305.jpg">
</figure>
<figure class="image is-128x128">
    <div class="One"> naruto</div>
  <img class="is-rounded" src="https://cdn.myanimelist.net/images/anime/13/17405.jpg">
</figure>
</div>

<script src="./js/search.js"></script>