<div class="tile">
    <!-- The magical tile element! -->
    <div class="tile is-parent">
        <article id="trending" class="tile is-child notification is-info">
            <p class="title">Trending!</p>
        </article>
    </div>
</div>

 <!--  anime images will be display here in icons  -->
<figure class="image is-128x128" >
  <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
</figure>
<figure class="image is-128x128">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
<figure class="image is-128x128">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
