<div class="tile">
    <!-- The magical tile element! -->
    <div class="tile is-parent">
        <article class="tile is-child notification is-info">
            <p class="title">Trending!</p>
        </article>
    </div>
</div>

 <div class="tile is-child box has-background-grey-light columns">
  <div class="column">
    <div class="is-4">
      <p id="aTitle"></p>
      <p id="synopsis"></p>
      <p id="episodes"></p>
      <p id="malScore"></p>
      <a id="malUrl" href="" target="_blank"></a>
    </div>
  </div>
  <img class="anime picture is-2by3 column" id="aPoster" src="">
 </div>


 <!--  anime images will be display here in icons  -->
<figure class="image is-128x128">
  <img src="https://cdn.myanimelist.net/images/anime/6/73245.jpg">
</figure>
<figure class="image is-128x128">
  <img src="https://cdn.myanimelist.net/images/anime/3/40451.jpg">
</figure>
<figure class="image is-128x128">
  <img src="https://cdn.myanimelist.net/images/anime/1887/92364.jpg">
</figure>
<figure class="image is-128x128">
  <img src="https://cdn.myanimelist.net/images/anime/1565/111305.jpg">
</figure>
<figure class="image is-128x128">
  <img src="https://cdn.myanimelist.net/images/anime/13/17405.jpg">
</figure>

<script src="./js/search.js"></script>