nav {
    background-color: bisque;
    border-bottom: black solid 2px;
}

.nav-search {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

#search-btn {
    background-color: aqua;
    color: white;
    margin-left: 10%;
}