/* CSS for the nav bar */

*{
    background-color: bisque;
}
nav {
    background-color: bisque;
    border-bottom: rgb(255, 255, 255) solid 2px;
}

.nav-search {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

#search-btn {
    background-color: white;
    color: black;
    margin-left: 1%;
}

#search-input {
    width: 50%;
    margin-left: 20%;
}

.nav-links {
    display: flex;
    text-decoration: none;
    font-size: 25px;
    margin-right: 25%;
}

.navLinks {
    padding-right: 15%;
}

header {
    display: flex;
    padding-right: 30% ;
}

.title {
    text-align: center;
    background-color: bisque;
}

.Img {
/* display: flex;
text-decoration: none;
margin-left: 27%; */
display: grid;
grid-auto-flow : column;
grid-column-gap: 10px;

}

.notification.is-info {
    background-color: bisque;
    color: #fff;
}

.One{
    font-size: larger;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}
/* above is css for the nav bar */

